@import "~fluorophore/index";

@include reset();
@include typography-styles();
@include typography-imports();
@include animation-styles();
@include form();

.sio__body {
  margin: 0;
}

.sio__title {
  @include margin-bottom(0.5);
}

.sio__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sio__main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include padding-left(1);
  @include padding-right(1);
  padding-top: 100px;
  padding-bottom: 100px;
}

.sio__name {
  max-width: 400px;
}

.sio__about {
  max-width: 400px;
}

.sio__contact {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 700px) {
  .sio__name--hidden, .sio__about--hidden, .sio__contact--hidden {
    display: none;
  }
}

.sio__submit-btn {
  @include btn();
  @include btn-clear();
  @include btn-small();
}

.sio__footer {
  text-align: center;
}

.sio__header {
  opacity: 1;
  background-color: white;
  border-bottom: 1px solid $lighter-gray;
  height: 58px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  animation: in-down 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  display: none;
  @media (max-width: 700px) {
      display: flex;
  }
}

.sio__menu-container {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  animation: fade-in 1.5s ease-in-out;
  touch-action: none;
  @include padding-left(0.5);
  @include padding-right(0.5);
}

.iching__container {
  cursor: pointer;
}

.iching__svg {
  path {
      stroke: currentColor;
      stroke-linecap: square;
      transition: 0.2s;
  }
}

.sio__message {
  min-height: 100px;
}
