@import "~fluorophore/index";

@include reset();
@include typography-styles();
@include typography-imports();
@include animation-styles();
@include form();

.sio__body {
  margin: 0;
}

.sio__title {
  @include margin-bottom(1);
}

.sio__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sio__main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include padding-left(1);
  @include padding-right(1);
  padding-top: 100px;
  padding-bottom: 100px;
}

.sio__name {
  max-width: 400px;
}

.sio__about {
  max-width: 400px;
}

.sio__contact {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 700px) {
  .sio__name--hidden, .sio__about--hidden, .sio__contact--hidden {
    display: none;
  }
}

.sio__submit-btn {
  @include btn();
  @include btn-clear();
  @include btn-small();
}

.sio__header {
  opacity: 1;
  background-color: white;
  border-bottom: 1px solid $lighter-gray;
  height: 58px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: none;
  @media (max-width: 700px) {
      display: flex;
  }
}

.sio__menu-container {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  touch-action: none;
  @include padding-left(0.5);
  @include padding-right(0.5);
}

.iching__container {
  cursor: pointer;
}

.iching__svg {
  path {
      stroke: currentColor;
      stroke-linecap: square;
      transition: 0.2s;
  }
}

.sio__message {
  min-height: 100px;
  resize: vertical;
}

.sio__footer {
  bottom: 0px;
  background-color: white;
  border-top: 1px solid $lighter-gray;
  box-sizing: border-box;
  display: none;
  position: fixed;
  height: 59px;
  width: 100%;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media (max-width: 700px) {
      display: flex;
      justify-content: space-around;
  }
  @media (orientation: landscape) {
      display: none;
  }
}

.sio__footer--shifted {
  transform: translate(100%, 0%);
}

.sio__footer-link {
  @include font-size(-4);
  align-items: center;
  box-sizing: border-box;
  color: $black;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0.6;
  padding-top: 8px;
  transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 20%;

  &:active, &:hover, &:visited {
      text-decoration: none;
      color: $black;
  }

  & > svg {
      height: 20px;
      width: 20px;
  }
}

.sio__footer-link--active {
  opacity: 1;
}

.sio__small-only {
  display: none;
  @media (max-width: 700px) {
    display: inline-block;
  }
}

.sio__big-only {
  display: inline-block;
  @media (max-width: 700px) {
    display: none;
  }
}

.sio__burger-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: calc(100vh - 59px);
  top: 59px;
  touch-action: none;
  width: 100%;
  @media (max-width: 700px) {
      display: block;
  }
  animation: background-fade 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sio__burger-container--closed {
  background-color: rgba(0, 0, 0, 0);
  animation: background-out 0.5s ease-in-out;
  pointer-events: none;
}

.sio__burger-panel {
  animation: enter-panel 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-right: 1px solid $lightest-gray;

  > a {
      color: $darkest-gray;
      display: block;
      @include padding-top(0.25);
      @include padding-bottom(0.25);
      @include padding-left(1);
      @include padding-right(1);
      border-bottom: 1px solid $lightest-gray;
      &:hover {
          background-color: $lightest-gray;
          color: $darkest-gray;
      }
  }
}

.sio__burger-panel--closed {
  transform: translate(-100%, 0px);
  animation: exit-panel 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes background-fade {
  0% {
      background-color: rgba(0, 0, 0, 0);
  }
  100% {
      background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes background-out {
  0% {
      background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
      background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes enter-panel {
  0% {
      transform: translate(-100%, 0px);
  }
  100% {
      transform: translate(0px, 0px);
  }
}

@keyframes exit-panel {
  0% {
      transform: translate(0px, 0px);
  }
  100% {
      transform: translate(-100%, 0px);
  }
}
